<nav class="navbar navbar-light" style="background-color: #7bbbe9;">
    <div class="container-fluid">
      <h3 class="navbar-brand">InBase Component</h3>
      <div class="d-flex">
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item me-3">
            <a class="nav-link" routerLink="/reg/add-new-student">Create New Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reg/show-all-students">Show All Student</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container d-flex justify-content-center align-items-center">
    <p>This is In Base Component</p>
  </div>
  <router-outlet></router-outlet>